body{
    margin: 0;
    height: 100vh;
    background-color: rgb(92, 92, 92);
}

/* Mobil */
@media only screen and (min-width : 1px){

.wrapperindex{
    display: grid;
    grid-template-rows: 70px auto 140px;     
    background-color: rgb(92, 92, 92);

}

header{
    display: flex;
    background:url(../img/headerbackground@381x70.jpg);
    text-shadow: 2px 2px 4px #000000;
}

header:nth-child(3){
    margin-left: 50%;
    margin-right: 50%;
}

.burger{
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.search{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo{
    margin-top: 10px;
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 4px 4px 5px;
    height: 43px;
    width: 160px;
}
/* i kundkorg ha onclick att border-style: inset; i en millisekund */
.kundkorg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
    color: white;
}

.mainindex{
    display: grid;
    grid-template-rows: 220px 220px 220px 200px 220px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "erbju erbju"
    "cont cont2"
    "con4 cont5"
    "erbju2 erbju2"
    "contich contich6";
    grid-column-gap: 17px;
    padding-left: 16px;
    padding-right: 17px;
    padding-top: 8px;

}

.contenttext{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 17px;
    z-index: 2;
    display: grid;
    grid-template-rows: 150px 53px;
    color: white;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 5;
}

.texten{
    display: flex;
    justify-content: center;
    align-items: center;
}

.erbjudande{
    background-color: rgba(255, 255, 255, 0.2);
    grid-area: erbju;
    display: flex;
    justify-content: center;
}

.erbjudande2{
    background-color: rgba(255, 255, 255, 0.2);
    grid-area: erbju2;
    margin-top: 17px;
    
}

header a{
    color: white;
}

header a:visited{
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.contenttext2{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    margin-top: 17px;
    height: 203px;
    display: grid;
    grid-template-rows: 150px 53px; 
}

.nunna{
    display: none;
}


.utfallsdburger{
    background-color: turquoise;
    height: 100vh;
    width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 50px;
    padding-left: 20px;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 5;
    height: 100%;
    width: 100%;
}

.fade-layer.visible{
    display: block;
}

.underkat{
    margin-left: 15px;
    margin-top: 2px;
    display: none;
}

.showUnderkat{
    display: block;
}

.tabortimobile{
    display: none;
}

.rubrikich{
    padding-top: 5px;  
    
}

.rubrikich2{
    padding-top: 5px;      
}

.footerindex{
    background-color: peachpuff;
    margin-top: 80px;
    height: 200px;
}

.wrappervaror{    
    display: grid;
    grid-template-rows: 70px auto 100px;     
    background-color: rgb(92, 92, 92);
}

.footervaror{
    background-color: peachpuff;
    height: 200px;
}

.kundkorgrubrik{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.produkten{
    height: 220px;
    display: grid;    
    background-color: rgba(0, 0, 0, 0.2);
    grid-template-columns: 120px auto;
    grid-template-rows: 160px 40px;
    grid-template-areas: 
    "bild text"
    "bild tabort"
    ;
    grid-column-gap: 30px;
    padding-left: 20px;
    padding-top: 20px;
}

.mertext{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.groda{
    margin-bottom: 10px;
}

.tabortvara{
    width: 100px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    grid-area: tabort;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.2);
}

.produktbiiild{
    background-color: rgba(255, 255, 255, 0.2);
    grid-area: bild;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    
}

.rabbatkod{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rabbich{
    height: 80%;
    color: white;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.2);
}

.rabbattext{
    position: relative;
    top: 10px;
    left: 11px;
    font-size: 22px;
}

.rabbatskriv{
    position: relative;
    top: 20px;
    left: 10px;
    height: 50px;
    width: 220px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

.aktiveratext{
    border-style: solid;
    border-width: 1px;
    border-color: black;
    position: relative;
    top: -32px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 262px;
    height: 50px;
    width: 85px;
    background-color: rgba(0, 0, 0, 0.6);

}

.attbetala{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 148px;
    width: 351px;
    display: grid;
    padding-left: 30px;
    padding-top: 10px;
    grid-template-rows: 1fr 1fr 1fr 70px; 
    padding-bottom: 20px;
}

.betalknapp{
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    width: 312px;
}

.contentboss{
    display: grid;
    grid-template-rows: 220px 220px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17px;
    padding-left: 16px;
    padding-right: 17px;
    padding-top: 8px;
}

.wrapperbyxa{
    display: grid;
    grid-template-rows: 70px auto;     
    background-color: rgb(92, 92, 92);
}

.mainbyxa{
    display: grid;
    grid-template-rows: 370px 120px 110px;
    background-color: rgba(255, 255, 255, 0.2);
}

.bildpaprodukten{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fergex{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.ex:nth-child(1){
    background-color: rgba(0, 0, 0, 0.2)
}

.ex{
    height: 100px;
    margin-left: 20px;
    margin-right: 20px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}

.kopich{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 20px;
    color: white;
}

.varunamn{
    padding-top: 10px;
    padding-left: 23px;
}


.varunamn:nth-child(2){
    padding-left: 88px;
}


.laggikorg{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: gray;
}

.size{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: gray;
}

.byxkontent{
    display: grid;
    grid-template-rows: 220px 220px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 17px;
    padding-left: 16px;
    padding-right: 17px;
    padding-top: 8px;
}

.footerbyxa{
    background-color: peachpuff;
    margin-top: 80px;
    height: 200px;
}

.wrapperabout{
    display: grid;
    grid-template-rows: 70px auto;  
}

.footerabout{
    background-color: peachpuff;
    height: 200px;
}

.mainabout{
    display: grid;
    grid-template-rows: 220px 140px;
    grid-row-gap: 15%;
    margin: 8% 8% 170px 8%;
}

.bildabout{
    display: flex;
    justify-content: center;
}

.textabout{
    background-color: rgba(255, 255, 255, 0.1);
    word-spacing: 2px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 4px;
    padding-bottom: 0;
    text-align: justify;
    font-weight: bold;
    color: white;
}


























}





/* Desktop */
@media only screen and (min-width : 900px){

.wrapperindex{  
    margin-top: 160px;
    grid-template-rows: auto 200px;
    grid-template-areas: 
    "desktopmain"
    "desktopfooter"
    ;
}

.mainindex{
    grid-area: desktopmain;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 20px;
    align-items: center;
}

.stora{
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

.lilla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 250px;
    width: 67%;
    margin-top: 22px;
}

.contenttextdesktop{
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue; 
}

.reklambanner{
    height: 250px;
    width: 96%;
    margin-top: 22px;
    background-color: darkcyan;
}

.marran{
    margin-top: 22px;
}

.footerindex{
    grid-area: desktopfooter;
}

.contenttext{
    background-color: rgba(255, 255, 255, 0);
    margin-top: 17px;
    z-index: 2;
    display: grid;
    grid-template-rows: 260px 53px;
    color: white;
}

.nunna{
    display: block;
}

header{
    position: fixed;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    justify-content: space-between;
}

.burger{
    display: none;
}

.underkat{
    color: white;
}

.fyllnad{
    width: 25%;
}

.flexxa{
    display: flex;
    flex-direction: row;
}

.showUnderkat{
    position: relative;
    top: 40px;
}

.rubrikich2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search{
    width: 100px;
}

.search i{
    font-size: 3rem;
}

.kundkorg{
    margin: 0;
    width: 100px;
}

.kundkorg i{
    font-size: 3rem;
}

.takeaway{
    display: none;
}

.utfallsdburger{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 60px;
    top: 80px;
    z-index: 80;
    padding: 0;
}

.erbjudande{
    display: none;
}

.contenttext{
    display: none;
}

.erbjudande2{
    display: none;
}

.contenttext2{
    display: none;
}

.wrapperabout{  
    margin-top: 200px;
    grid-template-rows: auto 200px;
    grid-template-areas: 
    "desktopmain"
    "desktopfooter"
    ;
}

.mainabout{
    display: flex;
    justify-content: space-between;
    margin: 0 12% 170px 12%;
}

.bildabout{
    width: 500px;
    height: 500px;
    background-color: black;
}

.textabout{
    padding: 4px 35px 0 35px;
    text-align: left;
    width: 380px;
    height: 200px;
    display: flex;
    align-items: center;
}

.tabortidesktop{
    display: none;
}

.wrapperbyxa{  
    margin-top: 140px;
    grid-template-rows: auto 200px;
    grid-template-areas: 
    "desktopmain"
    "desktopfooter"
    ;
}

.mainbyxa{
    margin-top: 40px;
    grid-template-rows: 150px 70px 260px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "titleopris produkten altfarger"
    "projsa produkten altfarger"
    "nej produkten altfarger"
    ;
    grid-row-gap: 40px;
    background-color: transparent;
}

.tabortimobile{
    display: block;
}

.ex{
    margin-left: 160px;
    width: 120px;
    height: 130px;
}

.bildpaprodukten{
    grid-area: produkten;
    background-color: rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 1px;
}

.kopich{
    grid-template-columns: 1fr 1fr;
    background-color: transparent;
    padding-left: 0;
    grid-template-rows: 1fr 2fr;
    grid-area: titleopris;
    grid-template-areas: 
    "tett ttva"
    "size size"
    ;
}

.fergex{
    grid-area: altfarger;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 10%;
    flex-direction: column;
    background-color: transparent;
}

.paron{
    grid-area: size;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.size{
    height: 80%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
}

.varunamn{
    padding-left: 50px;
    font-size: 2rem;
}

.varunamn:nth-child(2){
    padding-left: 105px;
}

.desktoplaggikorg{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.centerparon{
    display: flex;
    justify-content: center;
    height: 100%;
}


.katsammlare{
    display: flex;
    position: absolute;
    top: 50%;
    left: 39%;
}

.wrappervaror{  
    margin-top: 180px;
    grid-template-rows: 500px 200px;
    grid-template-columns: 40% 40%;
    grid-template-areas: 
    "desktopmain kongo"
    "desktopfooter kongo"
    ;
    margin-bottom: 100px;
    grid-column-gap: 180px;
}

.prolle{
    background-color: red;
    position: absolute;
    border: 1px solid black;
    top: 25%;
    left: 10%;
    height: 200px;
    width: 500px;
    display: grid;
    grid-template-rows: ;
    grid-template-columns: 1fr 2fr;

}

.prollebild{
    width: 200px;
}



.kopkop{
    height: 563.8px;
    width: 460px;
    background-color: transparent;
    position: absolute;
    top: 25%;
    left: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.korgen{
    background-color: red;
    height: 100px;
    color: white;
    display: flex;
    padding-left: 13px;
    align-items: center;
    font-size: 2rem;
    border: 1px solid black;
}

.rabbatkodtva{
    height: 100px;
    background-color: orange;
}

.coooontainneeeerrr{
    height: 110px;
    background-color: gray;
    border: 1px solid black;
}

.produkten{
    height: auto;
    display: flex;
    border: 1px solid black;
    border-style: solid solid none solid; 
    background-color: orange;
    padding-left: 0;
    padding-top: 0;
}

.mertext{
    width: 100%;
    padding-top: 20px;
    margin-bottom: 40px;
}

.grodbehollare{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.betalknapptva{
    background-color: greenyellow;
    display: flex;
    color: white;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    width: auto;
}













}